body {
    margin: 0;
    background-color: rgb(223, 235, 247);
}

header {
    width: auto;
    background-color: white;
    display: flex;
}


.logo_container {
    background-color: white;
    flex-basis: 20%;
    margin: auto;
    text-align: center;
}

.logo {
    margin: 5% 1% 5% 15%;
}


.nav {
    background-color: white;
    flex-basis: 60%;
    margin: auto;
}

.nav_ul {
    display: flex;
}

.nav_li {
    margin: auto;
    font-size: 2em;
    list-style-type: none;
    font-family: 'Segoe UI';
}


.button_header_container {
    background-color: white;
    flex-basis: 20%;
    text-align: center;
    margin: auto;
}

.button_header, .first_div_text_button {
    font-size: 2em;
    color: white;
    font-family: 'Segoe UI';
    background-color: blue;
    padding: 2% 15%;
    border-radius: 10px;
}



.body {
    background-color: rgb(223, 235, 247);
    margin: 2% 6%;
}

.first_div {
    display: flex;
    margin-bottom: 2%;
}

.first_div_text {
    background-color: white;
    flex-basis: 55%;
    padding: 8% 4%;
}

.first_div_text_h1{
    margin-bottom: 7%;
    font-size: 3em;
    font-family:'Segoe UI';
}

.first_div_image_container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-basis: 45%;
}

.first_div_image {
    width: 80%;
    height: 80%;
    object-fit: contain;
}


.first_row {
    display: flex;
}

.first_row_div1 {
    background-color: white;
    flex-basis: 60%;
    margin-right: 3%;
}

.first_row_div1_p {
    font-size: 2.5em;
    font-family:'Segoe UI';
    padding: 6% 6% 6% 15%;
}

.first_row_div2 {
    background-color: white;
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
}

.first_row_div2_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.smart {
    display: none;
}

@media screen and (max-width : 0px) {
    .desk {
        display: none;
    }

    .smart {
        display: block;
    }


    .logo_container {
        background-color: white;
        flex-basis: 50%;
        display: flex;
        align-items: center;
        margin: 4% 0;
    }

    .logo {
        margin: 0;
        width: 80%;
        height: 80%;
        object-fit: contain;
    }

    .humberger_container {
        flex-basis: 50%;
        display: flex;
        align-items: center;
    }
    
    .humberger_button {
        background: none;
        border: none;
        padding: 0;
        margin: 0 8% 0 0;
        display: flex;
        justify-content: flex-end;
    }
    
    .humberger {
        width: 20%;
        height: 20%;
        object-fit: contain;
    }


    .body {
        margin: 8% 6%;
    }
    
    .first_div {
        display: block;
        margin-bottom: 8%;
    }

    .first_div_text {
        background-color: white;
        padding: 4% 9%;
    }

    .first_div_text_h1{
        margin-bottom: 7%;
        font-size: 4.5em;
        font-family:'Segoe UI';
    }

    .first_div_text_button{
        margin-bottom: 5%;
    }
    
    .first_row {
        display: block;
    }

    .first_row_div1 {
        padding: 4% 9%;
        margin-bottom: 8%;
        margin-right: 0;
    }

    .first_row_div1_p {
        font-size: 4.5em;
        padding: 0;
    }

    .first_row_div2 {
        margin-left: 0;
    }
}
